<!DOCTYPE html>
<html lang="en">

<head>
    <title>Friends</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/name_input.css') }}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- linking a javascript file -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script> -->
</head>
    <body>
        <div class="container">
            <!-- with all the data we can then construct a more structured output -->
            {% with messages = get_flashed_messages() %} 
                {% if messages %} 
                    {% for message in messages %}
                        <p class="alert alert-danger fade in">{{message}}</p>
                    {% endfor %} 
                {% endif %} 
            {% endwith %}
            <h2 class="jumbotron">Enter Email:</h2>
            <form action='/success' method='POST'>
                Email Address:<input type="text" name="email" id="email">
                <input type="submit" value="Add">
            </form>
        </div>   
    </body>

</html>